.abc{
 background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center;
   backface-visibility: visible;
}
.heading{
    text-align: center;
    font-weight: bolder;
    // background-color: aliceblue;
    // background-color:  rgb(248, 246, 246);
    font-size: xxx-large;
    animation: mover 10s linear infinite;
    overflow: hidden;
  }
  @keyframes mover{
    0%{text-shadow: 0 0 30px rgb(200, 108, 233);}
    50%{text-shadow: 0 0 30px rgb(20, 108, 233); transform:translatex(30px)}
    100%{text-shadow: 0 0 30px rgb(200, 18, 23);}
  }