// @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
.here{
.alert-info {
  border-color: #00acd6;
  background-color:  #00c0ef !important;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.alert-dismissible {
  padding-right: 35px;
}
.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert .icon {
  margin-right: 10px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.alert .close {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -13px;
  font-size: large;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.button{
  font-size: large;
}
.alert {
  border-radius: 3px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }		                                                      
}